
<%- include ../layouts/header.ejs %>    

<!--
including footer content which is common for all pages
-->
  
<h1><%= title %></h1>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>  
<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <% if(data.length) {%>
        <% for(var i=0;i<data.length;i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].phone %></td>
            <td><%= data[i].address %></td>
            <td><a href="/employee/edit/<%= data[i].id %>" class="btn btn-primary btn-sm">Edit</a>
                <a href="/employee/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        <% } %>
        <% } %>
    </tbody>
</table>
<%- include ../layouts/footer.ejs %>